{% extends "admin/submission/submit_authors_base.html" %}
{% load foundation %}

{% block manage_authors %}
  {% include "admin/core/affiliation_info.html" %}
  <div class="large-8 columns">
    <div class="title-area">
      <h2>{% trans "Custom organization" %}</h2>
    </div>
    <form method="post">
      {% csrf_token %}
      {{ form|foundation }}
      {% include "elements/button_save.html" %}
      {% url 'submit_authors' article.pk as cancel_url %}
      {% include "elements/a_cancel.html" with href=cancel_url %}
    </form>
  </div>
{% endblock manage_authors %}
